* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: #666;
  text-decoration: none;
}

ul {
  list-style: none;
}

.absolute-fill {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  padding: 30px;
  overflow: hidden;
}

.button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transition: all .3s ease-in-out;
  opacity: 0;
  transform: translate(-50%,100px);
  padding: 1rem 2rem;
  line-height: 1;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
}

.button.buy-me {
  display: inline-block;
  bottom: auto;
  top: 30px;
}

.button.is-visible {
  opacity: 1;
  transform: translate(-50%,0); 
}

.image-reader {
  position: absolute;
  top: 20px;
  left: 0;
  height: 100%;
  padding: 30px 20px;
  transition: all .3s ease-in-out;
}

.image-reader.no-visible {
  opacity: 0;
  pointer-events: none;
}